# Antes de empezar:
- Lee el archivo README.md
- Comenta tanto como puedas y utiliza los recursos (archivo README.md)
- ¡Feliz aprendizaje!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy.stats import trim_mean, mode, skew, gaussian_kde, pearsonr, spearmanr, beta
from statsmodels.stats.weightstats import ztest as ztest

from scipy.stats import ttest_ind, norm, t
from scipy.stats import f_oneway
from scipy.stats import sem

# Reto 1 - Explorando los Datos

En este reto, examinaremos todos los salarios de los empleados de la Ciudad de Chicago. Comenzaremos cargando el conjunto de datos y examinando su contenido.

In [3]:
# Run this code:
salaries = pd.read_csv('../data/Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examina el conjunto de datos `salaries` utilizando la función `head` que se muestra a continuación.

In [4]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

In [5]:
salaries.describe()

       Typical Hours  Annual Salary  Hourly Rate
count    8022.000000   25161.000000  8022.000000
mean       34.507604   86786.999790    32.788558
std         9.252077   21041.354602    12.112573
min        10.000000    7200.000000     2.650000
25%        20.000000   76266.000000    21.200000
50%        40.000000   90024.000000    35.600000
75%        40.000000   96060.000000    40.200000
max        40.000000  300000.000000   109.000000

In [6]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33183 non-null  object
 1   Job Titles         33183 non-null  object
 2   Department         33183 non-null  object
 3   Full or Part-Time  33183 non-null  object
 4   Salary or Hourly   33183 non-null  object
 5   Typical Hours      8022 non-null   float64
 6   Annual Salary      25161 non-null  float64
 7   Hourly Rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

# Reto 2 - Pruebas de Hipótesis

En esta sección del laboratorio, vamos a probar si el salario por hora de todos los trabajadores por hora es significativamente diferente de $30/hora. Importa la función correcta para la prueba de una muestra desde scipy y realiza la prueba de hipótesis para un intervalo de confianza de dos lados del 95%.

Nuestra hipótesis será:

* H0: μ = 30
* H1: μ ≠ 30

In [10]:
import numpy as np
from scipy.stats import ttest_1samp

In [13]:
hourly_salary = salaries['Hourly Rate'].dropna()
statistic, pvalue = ttest_1samp(hourly_salary, 30)

# Nivel de significancia
alpha = 0.05

print(f"Estadístico t: {statistic:.4f}")
print(f"Valor p: {pvalue:.4f}")

# Decisión basada en el valor p
if pvalue < alpha:
    print("Rechazamos la hipótesis nula: El salario por hora es significativamente diferente de $30/hora.")
else:
    print("No rechazamos la hipótesis nula: No hay evidencia suficiente para decir que el salario por hora es significativamente diferente de $30/hora.")

Estadístico t: 20.6198
Valor p: 0.0000
Rechazamos la hipótesis nula: El salario por hora es significativamente diferente de $30/hora.

In [14]:
np.mean(hourly_salary)

32.78855771628024

# Reto 3 - Construyendo Intervalos de Confianza

Aunque probar nuestra hipótesis es una excelente manera de obtener evidencia empírica para aceptar o rechazar la hipótesis, otra forma de recopilar evidencia es creando un intervalo de confianza. Un intervalo de confianza nos brinda información sobre la media verdadera de la población. Por lo tanto, para un intervalo de confianza del 95%, estamos seguros en un 95% de que la media de la población se encuentra dentro del intervalo de confianza.

Para leer más sobre los intervalos de confianza, haz clic [aquí](https://es.wikipedia.org/wiki/Intervalo_de_confianza).

En la celda a continuación, construiremos un intervalo de confianza del 95% para el salario por hora medio de todos los trabajadores por hora.

El intervalo de confianza se calcula en SciPy utilizando la función `t.interval`. Puedes leer más sobre esta función [aquí](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

Para calcular el intervalo de confianza del salario por hora, usa 0.95 para el nivel de confianza, el número de filas - 1 para los grados de libertad, la media de la muestra para el parámetro de ubicación y el error estándar para la escala. El error estándar se puede calcular utilizando [esta](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) función en SciPy.

In [16]:
import pandas as pd
import numpy as np
from scipy.stats import t, sem

confianza = 0.95

media = np.mean(hourly_salary)

error_estandar = sem(hourly_salary)

grados_libertad = len(hourly_salary) - 1

intervalo_confianza = t.interval(confianza, grados_libertad, media, error_estandar)

print(f"Media de la muestra: {media:.2f}")
print(f"Error estándar: {error_estandar:.2f}")
print(f"Intervalo de confianza del 95%: {intervalo_confianza}")

Media de la muestra: 32.79
Error estándar: 0.14
Intervalo de confianza del 95%: (32.52345834488425, 33.05365708767623)

# Reto 4 - Pruebas de Hipótesis de Proporciones

Otro tipo de prueba de una muestra es una prueba de hipótesis de proporciones. En esta prueba, examinamos si la proporción de un grupo en nuestra muestra es significativamente diferente de una fracción.

Puedes leer más sobre las pruebas de proporción de una muestra [aquí](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

En la celda a continuación, utiliza la función `proportions_ztest` de `statsmodels` para realizar una prueba de hipótesis que determinará si el número de trabajadores por hora en la Ciudad de Chicago es significativamente diferente del 25% en el nivel de confianza del 95%.

In [25]:
import pandas as pd
from statsmodels.stats.proportion import proportions_ztest

n_total = salaries.shape[0]

n_chicago = hourly_salary.shape[0]

# Proporción hipotética a comparar (25% de los trabajadores)
prop_hipotetica = 0.25

# Realizar la prueba de hipótesis de proporciones
statistic, pvalue = proportions_ztest(count=n_chicago, nobs=n_total, value=prop_hipotetica, alternative='two-sided')

# Definir el nivel de significancia
alpha = 0.05

print(f"Estadístico z: {statistic:.4f}")
print(f"Valor p: {pvalue:.4f}")

# Decisión basada en el valor p
if pvalue < alpha:
    print("Rechazamos la hipótesis nula: La proporción de trabajadores por hora en la Ciudad de Chicago es significativamente diferente del 25%.")
else:
    print("No rechazamos la hipótesis nula: No hay evidencia suficiente para decir que la proporción de trabajadores por hora en la Ciudad de Chicago es significativamente diferente del 25%.")

Estadístico z: -3.5100
Valor p: 0.0004
Rechazamos la hipótesis nula: La proporción de trabajadores por hora en la Ciudad de Chicago es significativamente diferente del 25%.